doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 OTP Email
    p Please use the OTP to complete your action
    p #{code}
    p This OTP is valid for 10 minutes.